*
{
  margin: 0;
}

body
{
  font-family: 'Dancing Script';
  background-color: #02010a;
}

img
{
 box-shadow: 2px 2px #02010a;
}

#contenido
{
  width: 900px;
	margin: 0 auto;
  min-height: 200px;
}

nav ul
{
  list-style: none;
  margin: auto;
}

nav li
{
  display: inline;
  margin: 5px;
  padding: 2px;
  font-size: 20px;
}

nav a:link, nav a:visited
{
	padding: 0 1px;
	text-decoration: underline;
	color: white;
}

header
{
  background-color: #5b7989;
  color: white;
  text-shadow: 2px 2px 2px #02010a;
  border-radius: 10px 10px 0px 0px;
  padding: 15px 0px;
  animation: animacion 1s;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
}

.titulo
{
  width: 70%;
  text-indent: 15px;
}

.menu
{
  width: 30%;
  font-size: 18pt;
}

.central
{
  background-color: #82c3a6;
  padding: 20px;
}

.central > figure
{
	text-align: center;
  padding: 10px;
}

.secundaria
{
  background-color: #d5c75f;
  color: #02010a;
  padding: 10px;
  text-align: center;
  text-decoration: underline;
  display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
  border: 1px;
}

#paisa img:hover
{
  transform: rotate(10deg);
  box-shadow: 2px 2px #82c3a6;
  border: 0 2px 0 0;
  transition-duration: 1s;
}

#retra img:hover
{
  transform: translate(20px, -5px);
  box-shadow: 2px 2px #82c3a6;
  border: 2px;
  transition-duration: 1s;
}

.galeria
{
  background-color: #d5c75f;
  text-align: center;
  border: 1px;
  padding: 10px;
  display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

.g1 img
{
  filter: blur(10px);
}

.g2 img, .g4 img, .g6 img
{
  filter: grayscale(100%);
}

.g3 img
{
  filter: sepia(90%);
}

footer
{
  background-color: #c6d5c5;
  border-radius: 0px 0px 10px 10px;
  text-align: center;
  display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
  padding: 20px 0px;
}

footer a:link, footer a:visited
{
	text-decoration: none;
	color: #02010a;
}

.f3 img
{
  box-shadow: none;
  width: 10%;
}

.f3 img:hover
{
  filter: sepia(50%);
}

@media (max-width:900px)
{
  #contenido{
    width: 100%;
    margin: 0 auto;
  }
  .titulo, .menu{
    width: 100%;
    text-align: center;
  }

  .bloque1, .bloque2
  {
    width: 100%;
  }

  .f1, .f2, .f3, .f4
  {
    width: 100%;
    padding: 5px;
  }

  .g1, .g2, .g3, .g4, .g5, .g6
  {
    width: 100%;
  }
}

@media (min-width:901px)
{
  .bloque1, .bloque2
	{
		width: 50%;
	}

  .f1, .f2, .f3, .f4
  {
    width: 25%;
  }

  .g1, .g2, .g3, .g4, .g5, .g6
  {
    width: 30%;
    padding: 12px;
  }
}
